@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

body {
  font-family: "Comic Neue", cursive;
  background: linear-gradient(-45deg, red, orange, yellow, green, blue, purple);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  height: 100vh;
  cursor: help;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
